*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild

.idea/*
instapk.log*
.idea/instapk.xml
/app/src/main/java/com/noblemajesty/marvel/utils/SecretUtils.kt